<%= turbo_frame_tag "list_spinner" do %>
  <div class="d-none" data-list-target="listSpinner">
    <span class="spinner-border text-secondary spinner-border-sm" role="status" aria-hidden="true"></span>
  </div>
<% end %>
