<%= turbo_frame_tag "filter_empty_message" do %>
  <div data-controller="empty-message" data-empty-message-prefix-value="filter" class="text-muted d-none">
    No filters applied to this view.
  </div>
<% end %>
