<% messages = all_devise_messages(resource, flash) %>
<% if messages.present? %>
  <div class="alert alert-danger" role="alert">
    <% messages.each do |message| %>
      <p class="mb-1"><%= message %></p>
    <% end %>
  </div>
<% end %>
