<div class="p-0" data-controller="edit-carousel enlarge" id="edit_carousel_for_<%= item.id %>">
  <%= render partial: "editor/items/image", collection: item.images, as: :image %>
  <div class="m-4 text-center d-none" data-upload-target="spinner">
    <div class="spinner-border text-dark" role="status">
      <span class="visually-hidden">Uploading...</span>
    </div>
  </div>
</div>
