<div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="true" tabindex="-1" data-edit-button-target="offCanvas">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title ms-3 border-bottom" id="offcanvasScrollingLabel">Editing Item</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body pt-0">
    <%= turbo_frame_tag "edit_item", src: edit_editor_item_path(id: Item.first.id), data: { edit_button_target: "turboFrame" } %>
  </div>
</div>
