<div class="col">
  <%= turbo_frame_tag "edit_item" do %>
    <%= form_for(@item, url: editor_item_path(@item.id)) do |form| %>
      <div class="row p-3">
        <% Field.all_cached.each do |field| %>
          <%= render field.column_type_sym.to_s, { form: form, field: field, item: @item } %>
        <% end %>

        <%= form.submit "Save", class: "btn btn-primary" %>
      </div>
    <% end %>
  <% end %>
</div>


