<li class="nav-item" id="<%= "sidebar_view_#{@view.id}" %>">
  <%= link_to editor_view_path(@view), class: class_names("nav-link", "active": active?), aria_current: "view" do %>
    <i class="bi bi-file-spreadsheet me-2"></i><%= @view.title %>
    <% if @view.published %>
      <i class="bi bi-clouds"></i>
    <% end %>
    <% if active? %>
      <span class="float-end"><i class="bi bi-check"></i></span>
    <% end %>
  <% end %>
</li>
