<div class="<%= class_names(@field.bootstrap_col, "mb-3") %>">
  <div class="form-check" style="margin-top: 38px">
    <%= check_box_tag "item[data][#{@field.key}]",
                      "true",
                      @item.data[@field.key] == true,
                      class: "form-check-input",
                      data: {action: "change->autosave#submit"} %>
    <label class="form-check-label text-nowrap" for="item_data_<%= @field.key %>">
      <%= @field.title %>
    </label>
  </div>
</div>
