<%= content_for :title, @view.title %>

<div class="row">
  <div class="col p-0">
    <table class="table-search">
      <thead>
      <tr>
      <% @view.fields.each do |field| %>
        <th class="text-nowrap"><small><%= field.title %></small></th>
      <% end %>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
<div class="row mt-auto bg-light p-1">
  <div class="col">
    123 Cards
  </div>
</div>
