<%= content_for :title, @view.title %>

<div class="col d-flex flex-column p-0 overflow-hidden">
  <%= render "items/search/list", items: @items, pagy: @pagy %>
</div>

<%= render "editor/items/form" %>

