<%= turbo_frame_tag "sort_empty_message" do %>
  <div data-controller="empty-message" data-empty-message-prefix-value="sort" class="text-muted d-none">
    No sorts applied to this view.
  </div>
<% end %>
