<h1>We're sorry, but something went wrong (500)</h1>

<table class="container">
  <tr>
    <td>
      <p>This error has been reported to an administrator.</p>

      <p>In the meantime:</p>
      <ul>
        <li style="margin-bottom: 10px">Press <b>the back button</b> and try again.</li>
        <li style="margin-bottom: 10px">If this continues email: <a href="mailto:feedback@raphdb.com">feedback@raphdb.com</a></li>
      </ul>
    </td>
    <td><img src="/images/fail_dog.jpg" alt="funny dog picture"></td>
  </tr>
</table>
