<div id="edit_item_offcanvas" class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="true" tabindex="-1">
  <div class="offcanvas-body pt-0">
    <%= turbo_frame_tag "edit_item_frame" %>
  </div>
</div>
