.blink-green {
  -webkit-animation-name: blink-green-animation;
  -webkit-animation-duration: 0.5s;

  animation-name: blink-green-animation;
  animation-duration: 0.5s;
}

@-webkit-keyframes blink-green-animation {
  from { background: $green-400; }
  to   { background: default; }
}

@keyframes blink-green-animation {
  from { background: $green-400; }
  to   { background: default; }
}
