.bi {
  display: inline-block;
  vertical-align: -0.125em;
}

.wh-32px {
  width: 32px;
  height: 32px;
}

.font-size-sm {
  font-size: $font-size-sm !important;
}

.font-serif {
  font-family: $font-family-serif;
}

.text-gray-600 {
  color: $gray-600;
}

.text-hover-link {
  &:hover {
    color: $link-hover-color;
    text-decoration: underline !important;
  }
}