.bi {
  display: inline-block;
  vertical-align: -0.125em;
  /* vertical-align: -2px; */
}

small .bi {
  vertical-align: -3px;
}

small .bi-trash {
  vertical-align: -4px;
}

.wh-32px {
  width: 32px;
  height: 32px;
}

.mt-1px {
  margin-top: 1px !important;
}

.no-box-shadow {
  box-shadow: none;
  &:hover, &:focus {
    box-shadow: none;
  }
}

.font-size-sm {
  font-size: $font-size-sm !important;
}

.font-serif {
  font-family: $font-family-serif;
}

.btn-outline-body {
  background-color: $white;
  color: $body-color;
  border-color: $body-color;

  &:hover, active {
    background-color: $body-color;
    color: $white;
    border-color: $body-color;
  }
}

.text-gray-600 {
  color: $gray-600;
}

.text-hover-link {
  &:hover {
    color: $link-hover-color;
    text-decoration: underline !important;
  }
}

.fade-in {
  animation: fadeIn ease 0.8s;
  -webkit-animation: fadeIn ease 0.8s;
  -moz-animation: fadeIn ease 0.8s;
  -o-animation: fadeIn ease 0.8s;
  -ms-animation: fadeIn ease 0.8s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bg-blue-100 {
  background-color: $blue-100;
}

.bg-indigo-100 {
  background-color: $indigo-100;
}

.bg-purple-100 {
  background-color: $purple-100;
}

.bg-pink-100 {
  background-color: $pink-100;
}

.bg-red-100 {
  background-color: $red-100;
}

.bg-orange-100 {
  background-color: $orange-100;
}

.bg-yellow-100 {
  background-color: $yellow-100;
}

.bg-green-100 {
  background-color: $teal-100;
}

.bg-teal-100 {
  background-color: $teal-100;
}

.bg-cyan-100 {
  background-color: $cyan-100;
}


