/* Same as container-fluid */
.container-list {
  @include make-container();
}

.container-images {
  @include make-container();
}

@media (min-width: 564px) {
  .container-images {
    max-width: 564px !important;
    width: 564px !important;
  }
}

@media (min-width: 1120px) {
  .container-images {
    max-width: 1120px !important;
    width: 1120px !important;
  }
}

@media (min-width: 1676px) {
  .container-images {
    max-width: 1676px !important;
    width: 1676px !important;
  }
}

.card-medium {
  height: 330px;
  max-width: 100%;
  width: 100%;
  display: inline-block;
}

@media (min-width: 540px) {
  .card-medium {
    width: 540px;
    max-width: 540px;
  }
}

.item-short-label {
  width: 100px;
}