.list-wrapper {
  overflow: scroll;
  max-height: calc(100vh - 262px);
  width: 100%;
  margin: 0 !important;
  border: 1px solid $card-border-color;
  border-top-right-radius: $card-border-radius;
  border-top-left-radius: $card-border-radius;
}

@include media-breakpoint-up(sm) {
  .list-wrapper {
    max-height: calc(100vh - 230px);
  }
}

.list-wrapper::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: $gray-100;
}

.list-wrapper::-webkit-scrollbar-corner {
  background-color: $gray-100;
  border-color: transparent;
}

.list-wrapper::-webkit-scrollbar-thumb {
  border-radius: $card-border-radius;
  background-color: $gray-500;
}

.list-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: $link-hover-color;
}
.list-wrapper::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: transparent;
}

.list-wrapper::-webkit-scrollbar-track:horizontal {
  border-top: 1px solid $card-border-color;
}

.list-wrapper::-webkit-scrollbar-track:vertical {
  border-top-right-radius: $card-border-radius;
  border-left: 1px solid $card-border-color;
}

.list-table {
  table-layout:fixed;
  border-collapse: separate;
  border-spacing: 0;
  margin: 0 !important;
  width: 100%;
  height: 100%;
}

.list-table th,
.list-table td {
  width: 160px;
  padding: $table-cell-padding-y $table-cell-padding-x;
}

.list-table td.list-images-col {
  padding: 0 $table-cell-padding-x;
  vertical-align: center;
}

.list-table th.list-index-col, .list-table td.list-index-col {
  border-right: none;
  width: 40px;
  text-align: center;
}

.list-table thead {
  background-color: $gray-100;
  position: sticky;
  inset-block-start: 0;
}

.list-table thead th .list-col-title, .list-table td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list-table thead th {
  position: relative;
  font-weight: normal;
  border-bottom: 1px solid $card-border-color;
  border-right: 1px solid $card-border-color;
}

.list-table tbody td {
  border-bottom: 1px solid $card-border-color;
  border-right: 1px solid $card-border-color;
}

.list-table tbody td:last-child, .list-table thead th:last-child {
  border-right: none;
}

.list-table tbody tr:last-child td {
  border-bottom: none;
}

.resizer {
  position: absolute;
  top: 0;
  right: -1px;
  width: 5px;
  cursor: col-resize;
  user-select: none;
  z-index: 9001;
}
.resizer:hover, .resizing {
  border-right: 2px solid $link-hover-color;
}

.resizable {
  border: 1px solid $link-hover-color;
  height: 100px;
  width: 100px;
  position: relative;
}

.list-footer {
  height: 32px;
  width: 100%;
  background-color: $gray-100;
  border-left: 1px solid $card-border-color;
  border-right: 1px solid $card-border-color;
  border-bottom: 1px solid $card-border-color;
  border-bottom-right-radius: $card-border-radius;
  border-bottom-left-radius: $card-border-radius;
}