<% if pagy.next %>
  <%= link_to(url_for(only_path: false, q: params[:q], page: pagy.next, tab: tab),
              id: "load-more-button",
              class: "btn btn-light d-inline-block my-5",
              data: {
                controller: "images-load-more",
                turbo_frame: "page_handler"
              }) do %>
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
  <% end %>
<% end %>