<% if pagy.next %>
  <%= link_to(items_path(page: pagy.next), id: "load-more", class: "btn btn-light d-inline-block my-5",
              data: {
                controller: "loadmore",
                turbo_frame: "page_handler"
              }) do %>
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    <span class="ms-1">Loading More...</span>
  <% end %>
<% end %>