<%= turbo_frame_tag "page_handler" %>

<div class="container-images">
  <div class="row pt-3 gx-3" id="append-items">
    <% if @items.empty? %>
      <div class="col ms-3">
        <h4 class="mb-3">Your search did not match any item</h4>
        <p>Suggestions:</p>

        <ul>
          <li>Remove some words from search query</li>
          <li>Try different keywords</li>
          <li>Try more general keywords</li>
        </ul>
      </div>
    <% else %>
      <%= render partial: "items/search/images_item", collection: @items, as: :item %>
    <% end %>
  </div>
  <div class="row">
    <div class="col text-center">
      <%= render "items/search/images_load_more", pagy: @pagy, tab: "images" %>
    </div>
  </div>
</div>