<div class="container-<%= tab %>">
  <div class="row pt-3 gx-3">
    <div class="col ms-3">
      <h4 class="mb-3">Your search did not match any item</h4>
      <p>Suggestions:</p>

      <ul>
        <li>Remove some words from your search</li>
        <li>Try searching for any word that may appear on the card</li>
        <li>Try searching for a number on the card</li>
      </ul>
    </div>
  </div>
</div>