<div class="row border-bottom border-2">
  <div class="col p-2">
    <button type="button" class="btn btn-light btn-sm shadow-none" data-sidebar-target="hideButton" data-action="sidebar#toggle">
      <%= render "svgs/bi-layout-sidebar-inset" %><span class="ms-2">Sidebar</span>
    </button>
    <button type="button" class="btn btn-light btn-sm shadow-none d-none" data-sidebar-target="showButton" data-action="sidebar#toggle">
      <%= render "svgs/bi-layout-sidebar-inset-reverse" %><span class="ms-2">Sidebar</span>
    </button>
  </div>
</div>
