<ul class="nav nav-pills d-flex flex-column mb-auto">
  <% View.all.each do |view| %>
  <li class="nav-item">
    <%= link_to editor_view_path(view), class: class_names("nav-link": true, "active": @view == view), aria_current: "view" do %>
      <%= render "svgs/bi-table" %><span class="ms-2"><%= view.title %></span>
      <% if @view == view %>
        <span class="float-end"><%= render "svgs/bi-check" %></span>
      <% end %>
    <% end %>
  </li>
  <% end %>
</ul>


