<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <title>We're sorry, but something went wrong (500)</title>
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <style>
    body {
      font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
      background-color: #F1F1F1;
    }

    .container {
      width: 928px;
      margin: 0 auto;
      padding: 30px;
      background-color: white;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      vertical-align: top;
    }

    .container td {
      width: 464px;
      vertical-align: top;
    }

    h1 {
      text-align: center;
      margin: 40px 0;
    }

    ul li {
      margin: 0;
    }

    p {
      margin: 0;
      line-height: 30px;
    }
  </style>
</head>
<body>
<%= yield %>
</body>
</html>
